<!-- <app-staff-side-nav></app-staff-side-nav> -->
<app-side-nav></app-side-nav>
<div class="container">
  <div class="new">
    <h1>Instagram video</h1>
  </div>
  <div class="topic">
    <p class="pasteLink">Video link</p>
    <p class="ThumURL">Image URL</p>
    <p class="ThumPic">Image Pic</p>
    <p></p>
  </div>
  <div class="value">
    <form>
      <input type="text" class="" [(ngModel)]="instagram.videoUrl" id="input" [ngModelOptions]="{standalone: true}">
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="instagram.imageUrl"id="input"  type="text">
      <input type="file" (change)="chooseThumb($event)" id="drop">
      <!-- <button type="submit"><span style="color:white ;">Save</span></button> -->
      <a mat-raised-button (click)="submit()" type="submit" color="primary">Save</a>
    </form>
  </div>
  <p class="note">Note* :Choose any one of the option for adding Image</p>
  <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
</div>
<div class="btn">
  <a mat-raised-button (click)="export()" color="primary" target="_blank">Export</a>
</div>
<div class="table-wrapper">
  <table class="fl-table" id="excel-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Upload Date</th>
        <th>Video Url</th>
        <th>Image Url</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let instagram of instaGramArray">
        <td>{{instagram.id}}</td>
        <td>{{instagram.uploadDate.toDate() | date:'dd-MM-yyyy'}}</td>
        <td><a mat-raised-button href="{{instagram.videoUrl}}" target="_blank">View</a></td>
        <td><a mat-raised-button href="{{instagram.imageUrl}}" target="_blank">View</a></td>
        <td><a class="delete" (click)="delete(instagram.id,'instagram')">X</a></td>
      </tr>
    <tbody>
  </table>
</div>