<!-- <app-staff-side-nav></app-staff-side-nav> -->
<app-side-nav></app-side-nav>
<div class="container">
  <!-- <div class="new">
        <p style="margin-left: 20px;"><a href=""><mat-icon>add_circle_outline</mat-icon> Add NewLink</a></p>
    </div> -->
  <div class="new">
    <h1>Online Shop</h1>
  </div>

  <div class="value">
    <form action="" [class.spinnerOverlay]="spinnerActive">
      <mat-form-field appearance="outline">
        <mat-label>Image Url</mat-label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.imageUrl" type="text" matInput
               placeholder="Image URL">
      </mat-form-field>

      <button type="button" (click)="fileInput.click()">
        <span>Image Upload</span>
        <input #fileInput type="file" (change)="chooseThumb($event)" style="display:none;"/>
      </button>

      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.name" type="text" matInput
               placeholder="Name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Website Name</mat-label>
        <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.websiteName" type="text" matInput
               placeholder="Website Name">
      </mat-form-field>

      <mat-form-field style="margin-left: 20px">
        <mat-label>Category</mat-label>
        <mat-select [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.category">
          <mat-option *ngFor="let d of category" [value]="d.category">
            {{d.title}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!--      <select [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.category" name="state" id="drop">-->
      <!--        <option value="">Select</option>-->
      <!--        <option *ngFor="let c of category">{{c}}</option>-->
      <!--      </select>-->

      <button mat-raised-button (click)="submit()" type="submit" color="primary">Save</button>
    </form>
  </div>
  <br>
  <div  style="margin-left: 80px; display: flex">
    <mat-form-field appearance="outline">
      <mat-label>Buy Link</mat-label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.buyLink" type="text" matInput
             placeholder="Buy Link">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.price" type="text" matInput
             placeholder="Price">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Rating</mat-label>
      <input [ngModelOptions]="{standalone: true}" [(ngModel)]="onlineShop.rating" type="text" matInput
             placeholder="Rating">
    </mat-form-field>
  </div>
  <p class="note">Note* :Choose any one of the option for adding Image</p>
  <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
</div>
<div class="btn">
  <a mat-raised-button (click)="export()" color="primary" target="_blank">Export</a>
</div>
<!-- <div class="table-wrapper">
  <table class="fl-table" id="excel-table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>BuyLink</th>
        <th>UploadDate</th>
        <th>WebsiteName</th>
        <th>Image</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let online of onlineShops">
        <td>{{online?.id}}</td>
        <td>{{online?.name}}</td>
        <td><a mat-raised-button href="{{online?.buyLink}}" target="_blank">View</a></td>
        <td>{{online?.uploadDate?.toDate() | date:'dd-MM-yyyy'}}</td>
        <td>{{online?.websiteName}}</td>
        <td><a mat-raised-button href="{{online.imageUrl}}" target="_blank">View</a></td>
        <td><a class="delete" (click)="delete(online.id,'online')">X</a></td>
      </tr>
    <tbody>
  </table>
</div> -->
<div class="mat-elevation-z8 youtube-table">
  <table id="excel-table" mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Id">
      <th mat-header-cell *matHeaderCellDef> Id</th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="WebsiteName">
      <th mat-header-cell *matHeaderCellDef> WebsiteName</th>
      <td mat-cell *matCellDef="let element"> {{element.websiteName}} </td>
    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="BuyLink">
      <th mat-header-cell *matHeaderCellDef> BuyLink</th>
      <td mat-cell *matCellDef="let element">
        <a mat-stroked-button color="primary" href="{{element.buyLink}}" target="_blank">View</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="UploadDate">
      <th mat-header-cell *matHeaderCellDef> UploadDate</th>
      <td mat-cell *matCellDef="let element">{{element?.uploadDate?.toDate() | date:'dd-MM-yyyy'}}</td>
    </ng-container>

    <ng-container matColumnDef="Image">
      <th mat-header-cell *matHeaderCellDef> Image</th>
      <td mat-cell *matCellDef="let element">
        <a mat-stroked-button color="primary" href="{{element.imageUrl}}" target="_blank">View</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="Delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element">
        <a mat-stroked-button color="warn" (click)="delete(element.id, 'online')">Delete</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
