* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  z-index: 1;
}

body {
  background: #dfe9f5;
}

/* navbar */
.navbar {
  z-index: 4;
  height: 50px;
  width: 100%;
  /* background: #adcae7; */
  background-color: whitesmoke;
  /* background:#dfe9f5 ; */
  position:relative;
  justify-content: space-between;
}
.name{
  font-size: 20px;
  margin-top:15px;
  margin-left: 5px;
}
.navbar ul {
  margin-right: 20px;
}
.logout{
  float:right;
  margin-right:10px;
  margin-top:5px;
  cursor: pointer;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
  /* line-height: 30px; */
  /* margin-top: 3px; */
}

.name, .navbar ul li a {
  font-style: bold;
  text-decoration: none;
  color: black;
  font-size: 18px;
  /* padding: 6px 13px; */
  font-family: 'Roboto', sans-serif;
  transition: .4s;
}
/* SideNav */
.class {
  /* overflow: scroll; */
  -webkit-overflow-scrolling: touch;
  position: absolute;
  overflow-x:hidden;
  top: 30px;
  /* top: 0;*/
  bottom: 0;
  /* height: 100vh; */
  /* background: #d3d5d7; */
  width: 240px;
  /* overflow: hidden; */
  transition: width 0.2s linear;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.class a {
  position: relative;
  color: rgb(85, 83, 83);
  font-size: 15px;
  display: table;
  width: 300px;
  padding: 10px;
}

.class ul li {
  display: flex;
  /* margin-left: 60px; */
  margin-top: 20px;
  position: relative;
  height: 25px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

ul li span {
  color: black;
}

.class ul li a span {
  margin-left: 50px;
}

ul li,
i {
  position: relative;
  width: 100px;
  height: 40px;
  top: 14px;
  font-size: 20px;
  text-align: center;
}

.class ul li .heads {
  font-size: 20px;
  margin-left: 20px;
  font-weight: bold;
}

.logo{
  text-align: center;
  display: flex;
  transition: all 0.5s ease;
  margin: 10px 0 0 10p;
}
.logo img{
  margin-left: 15px;
  width:150px ;
  height: 45px;
  /* border-radius: 50%; */
}
.logo span{
  font-weight: bold;
  padding-left: 15px;
  font-size: 15px;
  text-transform: uppercase;
}
