.btn {
    margin-left: 90%;
}

button {
    width: 70px;
    padding: 5px;
    background-color: deepskyblue;
    border: none;
    color: #080710;
    border-radius: 5px;
    cursor: pointer;
}

table {
    width: 1100px;
    border-collapse: collapse;
}
.content{
    margin-top: 70px;
}
.content h2 {
    font-weight: 500;
    margin-left: 800px;
    display: flex;
    margin-top: 10px;
    color: black;
}

.container {
    margin-top: 20px;
}

.container .row {
    margin-top: 30px;
    margin-left: 300px;
}

.Accept{
    /* color: white; */
    /* background-color: green; */
    margin-left:10px;
}
.Reject{
    /* color: white; */
    /* background-color: red; */
    margin-left:10px;
}
.button{
    border: none;
}
/*  */
table{
    margin-left: 350px;
    width: 70%;
  }
  h2{
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    padding: 30px 0;
  }
  
  /* Table Styles */
  
  /* .table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
  } */
  
  .fl-table {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    /* width: 100%; */
    /* max-width: 100%; */
    white-space: nowrap;
    /* background-color: white; */
    box-shadow: 3px 3px 5px 6px #d8d2d2;
  }
  
  .fl-table th{
    font-weight: 800;
    font-style: bold;
  }
  .fl-table td, .fl-table th {
    text-align: center;
    padding: 12px;
    color: #565353;
    font-family: 'Montserrat',sans-serif;
  }
  
  .fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
  }
  
  .fl-table tr:nth-child(even) {
    background: #F8F8F8;
  }