<mat-form-field appearance="outline">
  <mat-label>Image URL</mat-label>
  <input matInput placeholder="ImageView URL" [(ngModel)]="newImageURL">
</mat-form-field>
<button style="margin-left: 20px" mat-flat-button color="accent"  type="button" (click)="fileInput1.click()">
  <span>Image Upload</span>
  <input #fileInput1 type="file" (change)="chooseThumb($event)" style="display:none;" />
</button>
<mat-dialog-actions>
  <button mat-flat-button mat-dialog-close class="reject">Cancel</button>
  <button mat-flat-button color="primary" class="accept" mat-dialog-close (click)="onSubmit()">Save</button>
</mat-dialog-actions>
