<!-- <app-staff-side-nav></app-staff-side-nav> -->
<app-side-nav></app-side-nav>
<div class="container">
    <!-- <div class="new">
        <p style="margin-left: 20px;"><a href=""><mat-icon>add_circle_outline</mat-icon> Add NewLink</a></p>
    </div> -->
    <div class="new">
        <h1>Youtube video</h1>
    </div>
    <div class="topic">
        <p class="pasteLink">Paste link</p>
        <p class="ThumURL">Image URL</p>
        <p class="ThumPic">Image Pic</p>
        <p class="category">Category</p>
        <p class="language">Language</p>
        <p></p>
    </div>
    <div class="value">
        <form action="" [class.spinnerOverlay]="spinnerActive">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="youtube.videoUrl" type="text" id="input" class="pasteLink">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="youtube.imageUrl"id="input"  type="text">
            <input type="file" (change)="chooseThumb($event)" id="drop">
            <select [ngModelOptions]="{standalone: true}" [(ngModel)]="youtube.category" name="select" id="drop">
                <option value="">Select Category</option>
                <option *ngFor="let c of category">{{c}}</option>
            </select>
            <!-- <ng-select
              [items]="cars"
              bindLabel="name"
              placeholder="Select Category"
              appendTo="body"
              [multiple]="true"
              [(ngModel)]="youtube.language">
            </ng-select> -->
            <!-- <select [ngModelOptions]="{standalone: true}" [(ngModel)]="youtube.language" name="select" id="drop" multiple="true">
              <option value="">Select Category</option>
              <option *ngFor="let c of category">{{c}}</option>
          </select> -->
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="youtube.language" id="input" type="text">
            <!-- <button type="submit"><span style="color:white ;">Save</span></button> -->
            <a mat-raised-button (click)="submit()" type="submit" color="primary">Save</a>
        </form>
    </div>
    <br>
    <p class="note">Note* :Choose any one of the option for adding Image</p>
    <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
</div>
<div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Category</th>
        <th>UploadDate</th>
        <th>Video</th>
        <th>Image</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let youtube of youtubeArray">
        <td>{{youtube.id}}</td>
        <td>{{youtube.category}}</td>
        <!-- <td>{{youtube.category}}</td> -->
        <td>{{youtube.uploadDate.toDate() | date:'dd-MM-yyyy'}}</td>
        <td><a mat-raised-button href="https://www.youtube.com/watch?v={{youtube.videoUrl}}" target="_blank">View</a></td>
        <td><a mat-raised-button href="{{youtube.imageUrl}}" target="_blank">View</a></td>
        <td><a class="delete" (click)="delete(youtube.id,'youtube')">X</a></td>
      </tr>
      <tbody>
    </table>
    <!-- <mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]" aria-label="Select page">
    </mat-paginator> -->
  </div>