<nav class="navbar">
    <div class="title">
        <ul>
            <li><a href="" class="active">Khanzo</a></li>
        </ul>
    </div>
    <div class="profile">
        <ul>
            <li><a href=""></a></li>
            <li><a href=""></a></li>
        </ul>
    </div>
</nav>
<div class="class">
    <ul>
        <li>
            <span class="heads">Home</span>
        </li>
        <li><a href="youtube">
                <span class="nav-item">YouTube</span>
            </a></li>
        <li><a href="">
                <span class="nav-item">FaceBook</span>
            </a></li>
        <li><a href="instagram">
                <span class="nav-item">Instagram</span>
            </a></li>
        <li><a href="shorts">
                <span class="nav-item">Shorts</span>
            </a></li>
        <li><a href="reels">
                <span class="nav-item">Reels</span>
            </a></li>
        <li>
            <span class="heads">DailyTask</span>
        </li>
        <li><a href="dailyTask">
                <span class="nav-item">Videos</span>
            </a></li>
        <li><a href="coupons">
                <span class="nav-item">Coupons</span>
            </a></li>
        <li>
            <span class="heads">Ads</span>
        <li><a href="adbanner">
                <span class="nav-item">AdBanner</span>
            </a></li>
    </ul>
</div>