.container {
  margin-left: 250px;
  margin-top: 50px;
}

.btn {
  margin-left: 90%;
}

.topic p {
  font-weight: bold;
}

.note {
  color: red;
  font-size: 13px;
}

.topic {
  display: flex;
}

.topic .ThumURL {
  margin-left: 170px;
}

.topic .ThumPic {
  margin-left: 160px;
}

.topic .pasteLink {
  margin-left: 60px;
}
.topic .lang{
  margin-left: 190px;
}
.value form {
  display: flex;
}

.value input {
  margin-left: 60px;
}

.new {
  display: flex;
}

.value #input {
  /* background-color: rgb(183, 193, 202); */
  /* border: 0;
    outline: 0; */
  border-bottom: 1px solid black;
}

.note {
  color: red;
  font-size: 13px;
}

/* Save button */
/* button {
    margin-left: 50px;
    max-width: 75px;
    background-color: deepskyblue;
    color: #080710;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} */
form a {
  margin-left: 30px;
}

.example-box.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-chip .cdk-drop-list-dragging {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.new h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  font-weight: bold;
  margin-top: 10px;
}

.spinnerOverlay {
  opacity: 0.4;
}

.mat-spinner {
  position: absolute;
  margin-left: 30%;
}

.delete {
  cursor: pointer;
}

/* table */
table {
  margin-top: 10px;
  margin-left: 350px;
  width: 70%;
}

h2 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  padding: 30px 0;
}

/* Table Styles */

.table-wrapper {
  margin-top: 30px;
  /* margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  /* width: 100%; */
  /* max-width: 100%; */
  white-space: nowrap;
  /* background-color: white; */
  box-shadow: 3px 3px 5px 6px #d8d2d2;
}

.fl-table th {
  font-weight: 800;
  font-style: bold;
}

.fl-table td,
.fl-table th {
  text-align: center;
  padding: 12px;
  color: #565353;
  font-family: 'Montserrat', sans-serif;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}