<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Instructions</title>
</head>
<body>
<p><strong>Introduction</strong>:</p>
<p><br></p>
<p>Khanzo Play is a multifaceted mobile application developed by Khanzo Media Company. Our app offers a subscription-based model, providing users with a range of exciting features and services. With Khanzo Play, users can access exclusive shopping discount coupons and deals, watch free video content, and engage in affiliate marketing, all within a single app. Here&apos;s an in-depth overview of the app&apos;s main functionalities and pages:</p>
<p><br></p>
<p><strong>App Features and Uses:</strong></p>
<p><br></p>
<p><strong>Subscription Model:</strong></p>
<p><br></p>
<p>Users can subscribe to Khanzo Play for one year at a cost of Rs. 242, which includes all applicable GST.&nbsp;</p>
<p>This subscription is essential for accessing exclusive shopping discount coupons and deals.</p>
<p><br></p>
<p><strong>Signup and Verification:</strong></p>
<p><br></p>
<p>Users need to sign up using their email address, which helps create a personalized experience.</p>
<p>After signing up, a verification link is sent to the user&apos;s email for authentication.</p>
<p>Once the email is verified, users can log in and provide basic personal information.</p>
<p><br></p>
<p><strong>Payment with Referral and Credit Codes:</strong></p>
<p><br></p>
<p>Payment for the subscription requires the use of a referral code and a credit code, both of which are provided by other users.</p>
<p>These codes grant access to the app&apos;s features, and they are mandatory for payment.</p>
<p><br></p>
<p><strong>3-Day Free Trial:</strong></p>
<p><br></p>
<p>To give new users a taste of what Khanzo Play offers, we provide a generous 3-day free trial of the subscription.</p>
<p><br></p>
<p><strong>Unique Referral Codes:</strong></p>
<p><br></p>
<p>Each user is assigned a unique referral code that they can share with others.</p>
<p>Sharing your referral code can lead to valuable rewards and earnings.</p>
<p><br></p>
<p><strong>User Levels and Earnings:</strong></p>
<p><br></p>
<p>Users start at level A and can progress to higher levels by successfully referring others to the app.</p>
<p>As users advance through levels, they earn level-up income, creating an opportunity to maximize earnings.</p>
<p>The minimum withdrawal amount is 500Rs, and there is a 15% service charge for withdrawals.</p>
<p>Users become eligible for withdrawal requests when their wallet reaches the maximum amount of 500Rs and they have successfully completed the daily task by watching videos.</p>

<p><br></p>
<p><strong>Pages</strong>:</p>
<p><br></p>
<p><strong>Home Page:</strong></p>
<p><br></p>
<p>The home page offers a diverse range of free video content across various categories.</p>
<p>To support the app&apos;s sustainability, non-intrusive ad banners are displayed on the home page, ensuring a quality viewing experience.</p>
<p><br></p>
<p><strong>Daily Task Page:</strong></p>
<p><br></p>
<p>This page encourages users to complete daily tasks, such as watching videos.</p>
<p>For each video watched, users receive valuable coupons, enhancing the overall experience.</p>
<p>Upon completing daily tasks, users are rewarded with 2 empty coupons that can be used for future discounts.</p>
<p><br></p>
<p><strong>Wallet Page:</strong></p>
<p><br></p>
<p>In the wallet, users have the opportunity to refer the app to others, earning 50Rs for each successful referral.</p>
<p>Initially, users can share their referral code with the first two people, who can then use this code during the payment process.</p>
<p>Users can refer an unlimited number of individuals to the app, creating a substantial opportunity for earnings.</p>
<p>As users successfully refer others, they advance through levels, beginning at level A and moving toward level Z, with each level upgrade offering an opportunity for increased income.</p>
<p><br></p>
<p><strong>Reward Page:</strong></p>
<p><br></p>
<p>Users can redeem the coupons they earn by completing daily tasks. These redeemed coupons are listed in the &quot;Redeemed Coupons&quot; section.</p>
<p>Additionally, the app provides 2 empty coupons in the &quot;Available Coupons&quot; section, allowing users to select new coupons from a wide range of categories.</p>
<p><br></p>
<p><strong>Shopping Page:</strong></p>
<p><br></p>
<p>Khanzo Play offers users two distinct shopping options:</p>
<p><strong>Online Shop</strong>: This section contains affiliate links to various e-commerce websites, enabling users to access a variety of products and deals.</p>
<p><strong>Offline Shop:&nbsp;</strong>In this section, users can find information about different types of physical stores, including contact details and maps for convenience.&nbsp;</p>
<p>Please note that this section serves as a directory and does not facilitate direct shopping or shipping through the app.</p>
<p><br></p>
<p><strong>Menu Page:</strong></p>
<p><br></p>
<p>The menu page offers several key sections:</p>
<p><br></p>
<p>User Personal Details: Users can edit their personal information as needed.</p>
<p><strong>Levels</strong>: Here, users can view their current level and explore the level-up chart.</p>
<p><strong>Refer to Refer Level Income Chart</strong>: This section provides users with a clear overview of the income opportunities associated with different levels.</p>
<p><strong>About Khanzo Play:</strong> Users can access detailed information about the app and its features.</p>
<p><br></p>
<p>It is important to note that user details may be shared with third parties for marketing purposes as stated in the app&apos;s privacy policy</p>
</body>
</html>
