<!-- <app-staff-side-nav></app-staff-side-nav> -->
<app-side-nav></app-side-nav>
<div class="container">
    <div class="new">
        <h1>FaceBook video</h1>
    </div>
    <div class="topic">
        <p class="pasteLink">Video link</p>
        <p class="ThumURL">Image URL</p>
        <p class="ThumPic">Image Pic</p>
    </div>
    <div class="value">
        <form>
            <input type="text" class="" [(ngModel)]="facebook.videoUrl" id="input" [ngModelOptions]="{standalone: true}">
            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="facebook.imageUrl"id="input"  type="text">
            <input type="file" (change)="chooseThumb($event)" id="drop">
            <a mat-raised-button (click)="submit()" type="submit" color="primary">Save</a>
        </form>
    </div>
    <p class="note">Note* :Choose any one of the option for adding Image</p>
    <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
</div>

<div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Upload Date</th>
        <th>Video Url</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let faceBook of faceBookArray">
        <td>{{faceBook.facebookId}}</td>
        <td>{{faceBook.uploadDate.toDate() | date:'dd-MM-yyyy'}}</td>
        <td><a mat-raised-button href="{{faceBook.videoUrl}}" target="_blank">View</a></td>
        <td><a class="delete" (click)="delete(faceBook.facebookId,'facebook')">X</a></td>
      </tr>
      <tbody>
    </table>
  </div>