<!-- <app-staff-side-nav></app-staff-side-nav> -->
<app-side-nav></app-side-nav>
<div class="container">
    <div class="new">
        <h1>FaceBook video</h1>
    </div>
    <div class="topic">
        <p class="pasteLink">Video link</p>
        <p></p>
    </div>
    <div class="value">
        <form>
            <input type="text" class="" [(ngModel)]="facebook.videoUrl" id="input" [ngModelOptions]="{standalone: true}">
            <!-- <button type="submit"><span style="color:white ;">Save</span></button> -->
            <a mat-raised-button (click)="submit()" type="submit" color="primary">Save</a>
        </form>
    </div>
    <mat-spinner *ngIf="spinnerActive" class="mat-spinner" diameter="60"></mat-spinner>
</div>

<div class="table-wrapper">
    <table class="fl-table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Video Url</th>
        <th>Upload Date</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let faceBook of faceBookArray">
        <td>{{faceBook.facebookId}}</td>
        <td>{{faceBook.uploadDate}}</td>
        <td><a mat-raised-button href="{{faceBook.videoUrl}}" target="_blank">View</a></td>
        <td><a class="delete" (click)="delete(faceBook.facebookId,'faceBook')">X</a></td>
      </tr>
      <tbody>
    </table>
  </div>