<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Page title</title>
</head>
<body>
<p><strong>Shipping</strong> <strong>Policy</strong>:</p>
<p><br></p>
<p>The &quot;Shipping Policy&quot; for Khanzo Play is essential for understanding the app&apos;s approach to shopping:</p>
<p><br></p>
<p><strong>Online</strong> <strong>Shop</strong>: The policy clarifies that the app does not facilitate direct shopping or shipping. Instead, it provides affiliate links to various e-commerce websites.</p>
<p><strong>Offline</strong> <strong>Shop</strong>: This section provides information about physical stores, including contact details and maps. Users should note that this is primarily for informational purposes and does not involve direct shopping or shipping through the app.</p>
<p>These policies serve to protect both the app and its users by establishing clear guidelines for usage, data handling, and financial transactions. Users are encouraged to review these policies thoroughly to ensure a transparent and positive experience with Khanzo Play.</p>
</body>
</html>
